[user]
    name  = zioufang
    email = zioufang@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = delta
[init]
  defaultBranch = main
[help]
    autocorrect = 1
[pull]
    # use rebase if not specified
    rebase = true
[interactive]
    # delta --list-syntax-themes to list available themes
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
[merge]
    conflictstyle = diff3 # https://dandavison.github.io/delta/merge-conflicts.html
[diff]
    colorMoved = default
