export TERMINAL=alacritty
export EDITOR=nvim
export VISUAL=$EDITOR
export BROWSER=firefox
export TERM=xterm-256color # only for remote session

feh --randomize --bg-scale ~/.config/wallpapers/* &

setxkbmap -option ctrl:nocaps

# tap caps as ctrl using xcape
# xcape -e 'Control_L=Escape'

# sync google drive on startup
# need to run `rclone config` first and create ~/gdrive
# rclone copy --copy-links ~/gdrive gdrive:sync
