! Dracula Xresources palette
!*.foreground: #F8F8F2
!*.background: #282A36
!*.color0:     #000000
!*.color8:     #4D4D4D
!*.color1:     #FF5555
!*.color9:     #FF6E67
!*.color2:     #50FA7B
!*.color10:    #5AF78E
!*.color3:     #F1FA8C
!*.color11:    #F4F99D
!*.color4:     #BD93F9
!*.color12:    #CAA9FA
!*.color5:     #FF79C6
!*.color13:    #FF92D0
!*.color6:     #8BE9FD
!*.color14:    #9AEDFE
!*.color7:     #BFBFBF
!*.color15:    #E6E6E6

! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.scrollBar: false
URxvt.urlLauncher:		firefox
URxvt.underlineURLs:	true

URxvt.perl-ext-common: default,resize-font

! URxvt sent the same sequence as xterm
URxvt.keysym.C-Up:     \033[1;5A
URxvt.keysym.C-Down:   \033[1;5B
URxvt.keysym.C-Left:   \033[1;5D
URxvt.keysym.C-Right:  \033[1;5C

URxvt.keysym.C-minus:	resize-font:smaller
URxvt.keysym.C-equal:	resize-font:bigger
URxvt.keysym.C-plus:	resize-font:reset

! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    #d8dee9
dmenu.background:	        #2e3440
dmenu.selbackground:	    #bf616a
dmenu.foreground:	        #d8dee9
